@import "tailwindcss";

@import url('https://fonts.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap');

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

/* --- Tambahan untuk background Hero Section --- */
.hero-background {
    background-image: url('../../public/Background.png'); /* Sesuaikan path */
    background-size: cover; /* Menutupi seluruh area tanpa terulang */
    background-position: center; /* Memposisikan gambar di tengah */
    background-repeat: no-repeat; /* Mencegah gambar terulang */
}